



.page-header {
    background-color: bisque;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.page-header {
    /* position: relative; */
    text-align: center;
    color: white;
}

.page-header img {
    margin: 0px;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    opacity: 0.85;
    height: 400px;
    
    /* max-width: 500px; */
}

.page-header .cont {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -0%);
    /* left: 45%; */
    text-align: center;
    color: white;
}

hr {
    width: 200px;
}

/* -------------------------------------------------------------------- */
.menu {
    background-position: center center;
}

.menu2 {
    margin: 0px;
    padding-top: 40px;
}

.menu1 {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
}


.toppings {
    text-align: center;
}

.specialmenu img {
    width: 100%;
    margin: 0px;
    opacity:0.8;
    max-height: 600px;
    /* height: auto; */
    /* overflow: cover; */
    object-fit: cover;
    vertical-align: middle;
    /* transition: transform 0.5s ease; */
}

.pricerange {
    text-align: center;
}

.content{
    padding: 20px;
    
    color: aliceblue;
}
.content2{
    padding: 0px;
}

.content1 {
    padding: 5px;
    text-align: justify;
    color: aliceblue;
}

.specialmenu {
    border: 8px solid rgb(88, 13, 13);
    background-color: #4c2921;
    margin: 0px auto 0px auto;
}

.title {
    margin: 10px auto 5px auto;
    color: azure;
}

.toppingimg img {
    margin: 0px;
    object-fit: cover;
    vertical-align: middle;
    opacity: 0.5;
    max-width: 100%;
}

.toppingcontent {
    position: absolute;
    top: 5%;
    /* bottom: 5px; */
    left: 50%;
    transform: translate(-50%, -0%);
    /* left: 45%; */
    text-align: center;
    text-justify: inherit;
    color: rgb(230, 230, 230);
}

.specialmenu1 {
    border: 8px solid rgb(88, 13, 13);
    /* padding: 10px 10px 10px 10px; */
    margin: 15px auto 0px auto;
    background-color: rgb(92, 37, 27);
}

h1 .first {
    color: black;
    background-color: #4c2921;
    /* margin-top: 20px; */
}

h1 .title {
    text-align: center;
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

.menu2 img:hover {
    transform: scale(1.1);
}
.menu img{
    transition: transform 0.5s ease;
}

@media screen and (max-width: 750px) {
    .description{
        /* float: none;/ */
        display: none;
        /* content: "ola "; */
    }
    .toppingimg img{
        height: 400px;
    }
}
@media screen and (max-width: 1000px) {
    .description {
        /* float: none;/ */
        display: none;
        /* content: "ola "; */
    }

    /* .toppingimg img {
        height: 400px;
    } */
}